<meta charset="utf-8" /> 
<script type="text/javascript">
function pload(){var m=this;m.q=[];m.a=function(f){m.i(f)};m.i=function(f){m.q.push(f)};m.f=function(){var f;while(f=m.q.shift())f();m.r()};m.r=function(){m.i=function(f){f()};};}pnl=new pload();$$=pnl.a;pnla=new pload();$$$=pnla.a;
</script>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="Description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
  <!--[if IE 8 ]><html
class="ie8"> <![endif]-->
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<link rel="shortcut icon" href=/favicon.ico />
<link rel="icon" href=/favicon.ico /> 
<script type="text/javascript">
(function(){var d=document;var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='/assets/scripts.js.212.js';(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(s);})();
</script> 
<!--[if lt IE 9]> <script src="/_js/z_load//html5shiv.js"></script> <![endif]-->
<link rel="stylesheet" href="/assets/styles.css.212.css" />
<style type="text/css">
#new-header{position:relative;display:block;z-index:99999}.video-container{position:relative;width:100%;top:-140px;height:100vh;overflow:hidden;z-index:999}.usp{z-index:9999}
</style>
<meta property="og:image" content="/novaimg/galleria/.jpg"/> 