 <div id="ltColumn">
          <div class="inner">
            <h4><span novaref=207411 novatype=txt>TABLE OF CONTENT</span><span class="line"></span></h4>
            <ul id="subNav">
                 <li><a class="location" href="/location/">
                      <span novaref=207421 novatype=txt>The Hotel  Giraffe Experience</span>
                      <span class="triangle-subNav">►</span>
                      </a>
                 </li>
                 <li><a class="meetings" href="/meetings-and-events/"><span novaref=207501 novatype=txt>Meetings & Events</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="services" href="/services/"><span novaref=207461 novatype=txt>Hotel Services</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="amenities" href="/room-amenities/"><span novaref=208711 novatype=txt>Guestroom Amenities</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="breakfast" href="/complimentary-breakfast/"><span novaref=207481 novatype=txt>Complimentary Continental Breakfast</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="wine" href="/complimentary-wine/"><span novaref=208721 novatype=txt>Complimentary Wine & Cheese Reception</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="health" href="/health-club/"><span novaref=208731 novatype=txt>It's All Included!</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="discover" href="/discover/"><span novaref=258651 novatype=txt>Manhattan's hottest neighborhood: NoMad</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="dining" href="/dining-and-entertainment/"><span novaref=207531 novatype=txt>Dining & Entertainment</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="parking" href="/parking-and-transportation/"><span novaref=207521 novatype=txt>Parking & Transportation</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="weddings" href="/weddings-and-honeymoons/"><span novaref=208761 novatype=txt>Weddings & Wedding Blocks</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="birthdays" href="/anniversaries-and-birthdays/"><span novaref=258661 novatype=txt>Anniversaries, Honeymoons & Birthdays</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="virtual" href="/virtual-tour/"><span novaref=248751 novatype=txt>Virtual Tour</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="guest" href="/guest-reviews/"><span novaref=207551 novatype=txt>Read or Write a Review</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="concierge" href="/concierge-faq/"><span novaref=259191 novatype=txt>Concierge FAQ</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="rate" href="/best-rate-guarantee/"><span novaref=206831 novatype=txt>Best Rate Guarantee</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="email" href="/email-offers/"><span novaref=207541 novatype=txt>#BOOKLHC Sweepstakes</span><span class="triangle-subNav">►</span></a></li>
                 <li><a class="hotels" href="http://libraryhotelcollection.com/" target="_blank"><span novaref=207561 novatype=txt>Meet the Library Hotel Collection Family</span><span class="triangle-subNav">►</span></a></li>
                 </ul>
           </div>
 </div>